<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>home works!</p>
<div routerLink="/about">About</div> 
<div class="container">
    <img src="assets/images/home/placeimg_640_480_any.jpg" alt="girl images">
</div>
<div>{{data}}</div>
<button (click)="f2()">Submit</button>
<p class="{{con?color:'text-secondary'}}"> hi !</p>
<div *ngFor="let i of pd"><span>{{i.name+" "}}</span> <span>{{i.id}}</span></div>
<div *ngIf="con">Conyes</div>
<div *ngIf="!con">Connot</div>
</body>
</html>